. {
  font-family: "Ubuntu Mono", monospaced;
}

body {
  background-color: #161616;
  background-image: url("../img/noise.png");
  font-family: "Share Tech Mono", "Ubuntu Mono", monospaced
}

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

#bannersection {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  
}
.bannercontent {
  display: table-cell;
  vertical-align: middle;
  color: lime;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding: 0 3%;
}

.center {
  text-align: center;
}

#title {
  color: Lime;
  text-align: center;
}

p {
  font-size: 20px;
  
}