. {
  font-family: "Ubuntu Mono", monospaced;
}

body {
  background-color: #161616;
  background-image: url("../img/noise.png");
  font-family: "Share Tech Mono", "Ubuntu Mono", monospaced
}

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

#navigationsection {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(33, 33, 33, 20);
}

.navigationcontent {
  display: table-cell;
  vertical-align: right;
  
  color: darkgreen;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding:  3%;
}

#bannersection {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  
}
.bannercontent {
  display: table-cell;
  vertical-align: middle;
  color: lime;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding: 0 3%;
}

#aboutsection {
  position: relative;
  display: table;
  width: 80%;
  height: 100vh;
}

p {
  font-size: 20px;
  
}

a {
  text-decoration: none;
}